@import "../node_modules/d2-ui/scss/HeaderBar";
@import "../node_modules/d2-ui/scss/DataTable";

$left-bar-width: 220px;

$animation-duration: 250ms;

$perspective-distance: 2000px;

html {
  background: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
}

.content-area {
  position: absolute;
  top: 44px;
  width: 100%;
  margin: auto;
}

.mdl-card {
  backface-visibility: hidden;
  z-index: 2;
  transform: translate3d(0,0,0);
}

.app-card-container {
  margin: 32px;
  float: left;
  position: relative;
  perspective: $perspective-distance;
}

.app-card {
  transition: transform $animation-duration;
}

.mdl-card__title {
  min-height: 180px;
}

.mdl-tabs {
}

.app-card-back {
  transition: transform $animation-duration;
  position: absolute;
  top: 0;
  z-index: 0;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

.mdl-card__supporting-text.mdl-card--border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
