@import "~susy";
@import "../node_modules/d2-ui/scss/HeaderBar";
@import "../node_modules/d2-ui/scss/DataTable";

$left-bar-width: 256px;

html {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.75rem;
}

.app {
  padding-top: 3rem;
}

.left-bar {
  width: $left-bar-width;
  float: left;
  position: fixed;
  margin-top: 16px;
  bottom: 0;
  top: 0;
  left: 0;
  padding-top: 2rem;
}

.content-area {
  margin-left: $left-bar-width;
  max-width: 939px;
  min-width: 400px;
}

.transition-mount,
.transition-unmount {
  transition: 150ms ease-out;
  transform: translate(0,0) scale(1) rotateZ(0deg);
  opacity: 1;

  &.card {
    transition-duration: 75ms;
  }

  &-active {
    &.card-up {
      transform: translate(0,-500px);
      opacity: 0;
    }
    &.card-right {
      transform: translate(500px);
      opacity: 0;
    }
    &.card-down {
      transform: translate(0,500px);
      opacity: 0;
    }
    &.fab {
      transform: translate(0,0) scale(0.0) rotateZ(-90deg);
      opacity: 0.5;
    }
  }
}