{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "modules": "cjs",
            }
        ],
        "@babel/preset-react",
    ]
}
