.searchField {
    max-width: 420px;
}

.appsWithUpdates {
    margin-bottom: var(--spacers-dp64);
}

.appCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacers-dp16);
    max-width: 992px;
}

.appCard {
    display: grid;
    grid-template-columns: 72px auto;
    grid-gap: var(--spacers-dp12);
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 18px var(--spacers-dp16);
    line-height: 20px;

    /* Reset button styles */
    border: none;
    text-align: unset;
    color: unset;
}

.appCard:not(:disabled):hover, .appCard:not(:disabled):focus {
    cursor: pointer;
    background: var(--colors-grey300);

    /* Reset button styles */
    outline: none;
}

.appCardName {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: var(--spacers-dp4);
}

.appCardMetadata {
    display: block;
    margin: var(--spacers-dp4) 0;
    font-size: 14px;
    color: var(--colors-grey700)
}
