.appCard {
    max-width: 960px;
}

.header, .section {
    padding: var(--spacers-dp24);
}

.header {
    line-height: 24px;
}

.headerName {
    margin: 0;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 700;
}

.headerDeveloper {
    font-size: 16px;
    color: var(--colors-grey700);
}

.sectionHeader {
    margin: 0;
    margin-bottom: var(--spacers-dp16);
    font-size: 16px;
    font-weight: 500;
}

.sectionSubheader {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-bottom: var(--spacers-dp8);
}

.mainSection {
    display: grid;
    grid-gap: var(--spacers-dp24);
    grid-template-columns: 60% auto;
}

.manageInstalledVersion {
    margin-bottom: var(--spacers-dp16);
}

.manageInstalledVersionDescription {
    display: block;
    max-width: 160px;
    margin: var(--spacers-dp8) 0;
    font-size: 11px;
    color: var(--colors-grey700);
}

.metadataList {
    list-style: none;
    line-height: 16px;
    margin: 0;
    margin-top: -4px;
    padding: 0;
    font-size: 13px;
    color: var(--colors-grey800);
}

.metadataItem {
    margin-bottom: var(--spacers-dp12);
}

.screenshots {
    display: grid;
    grid-gap: var(--spacers-dp8);
    grid-template-columns: 80% auto;
}

.screenshots img {
    max-width: 100%;
}

.currentScreenshot {
    border: 1px solid var(--colors-grey200);
}

.otherScreenshot {
    cursor: pointer;
    margin-bottom: var(--spacers-dp8);
    border: 4px solid var(--colors-grey200);
}

.otherScreenshot:hover, .otherScreenshot:focus {
    border-color: var(--colors-grey400);
    outline: none;
}

.otherScreenshotCurrent,
.otherScreenshotCurrent:hover, .otherScreenshotCurrent:focus {
    border-color: var(--colors-blue500);
}

.versionsContainer {
    border: 1px solid var(--colors-grey300);
}

.versionsFilters {
    padding: var(--spacers-dp16) var(--spacers-dp8);
}

.channelCheckbox {
    display: inline-block;
    margin-right: var(--spacers-dp24);
}

.dhisVersionSelect {
    max-width: 200px;
    margin-top: var(--spacers-dp16);
}

.installBtn {
    margin-right: var(--spacers-dp8);
}
