.header {
    font-size: 20px;
    font-weight: 500;
    margin-top: var(--spacers-dp24);
    margin-bottom: var(--spacers-dp16);
}

.searchField {
    max-width: 420px;
}

.appsWithUpdates {
    margin-bottom: var(--spacers-dp64);
}
